{% extends 'front_base.html.twig' %}
{% block title %}New HkStat!{% endblock %}

{% block body %}
    <h1>Create new HkStat</h1>

    {{ include('hk_stat/_form.html.twig') }}

    <a href="{{ path('front_app_hk_stat_index') }}">back to list</a>
{% endblock %}
