<!DOCTYPE html>

<title>HkStat</title>

{% block body %}
    <h1>HkStat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hk_stat.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('front_app_hk_stat_index') }}">back to list</a>

    <a href="{{ path('front_app_hk_stat_edit', {'id': hk_stat.id}) }}">edit</a>

    {{ include('hk_stat/_delete_form.html.twig') }}
{% endblock %}
