{% extends '_blank.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}


{% block body %}
    <main class="custom-video-player">
        <iframe
            src="{{hk_video.link}}">
        </iframe>
    </main>
{% endblock %}