<!DOCTYPE html>

<title>New Question</title>

{% block body %}
    <h1>Create new Question</h1>

    {{ include('front/question/_form.html.twig') }}

    <a href="{{ path('front_app_question_index') }}">back to list</a>
{% endblock %}
