{% extends 'front_base.html.twig' %}
{% block title %}TEAM!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        {% for item in categories %}
            <div class="category-card">
                <p>Name: {{item.name}} </p>
                <p>minAge: {{item.minAge}} </p>
                <p>maxAge: {{item.maxAge}} </p>
                <p>isActive: {{item.isActive}} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
