<!DOCTYPE html>

<title>Hello CategoryController!</title>

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{{ form_start(form) }}
    {{form_widget(form)}}
    <div class="flex gap-5">
        <button class="mt-6 px-4 py-2 w-64 rounded-md text-center bg-emerald-600 text-white hover:bg-emerald-700">{{ button_label|default('save') | trans }}</button>
    </div>
{{ form_end(form) }}
</div>
{% endblock %}
