@tailwind base;
@tailwind components;
@tailwind utilities;

.homepage {
    padding-bottom: 77px;
    &-content {
        margin-top: 64px;
    }

    .hero-container {
        margin: 16px auto;
        .hero-text {
            font-size: clamp(17px, 5vw, 24px);
            font-weight: 700;
            color: #466288;
            text-align: center;
            font-family: Source Sans Pro;
            & span {
                display:block;
                font-size: clamp(14px, 5vw, 16px);
                font-weight: 400;
                margin-top: 8px;
                color: inherit;
                text-align: inherit;
                font-family: inherit;
            }
            & + img {
                max-width: 238px;
                margin: 16px auto;
                width: 100%;
            }
        }
    }

    .card {
        box-shadow: 0px 5px 10px rgba(23, 43, 77, 0.07);
        border-radius: 8px;
        background: #fff;
        width: calc(50% - 8px);
        min-height: 216px;
        height: 100%;
        display: inline-flex;
        flex-direction: column;
        @media screen and (max-width: 480px) {
            max-width: 177px;
        }

        & strong {
            display: flex;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            text-align: center;
            letter-spacing: 0.01em;
            margin: 9px auto;
            width: 100%;
            max-width: 137px;
        }

        & p {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 19px;
            text-align: center;
            margin: 0 30px;
            margin-bottom: 18px;
            max-width: 116px;
        }
        & img {
            max-width: 44px;
            margin: 0 auto;
            margin-top: 18px;
        }

        &-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            margin-bottom: 16px;
        }

        &-row {
            display: inline-flex;
            margin-bottom: 16px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.engagement {
    overflow-x: hidden;
    padding-bottom: 77px;

    .engagement-content {
        margin-bottom: 24px;
        margin-top: 64px;
    }

    .hero-container {

        .hero-text {
            font-family: 'Source Sans Pro';
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.01em;
            color: #6D7D91;
        }

        img {
            margin-top: 16px;
        }
    }

    .card-container {
        font-family: 'Prompt';
        font-style: normal;
        font-weight: 500;
        font-size: 19px;
        line-height: 29px;
        letter-spacing: 0.01em;
        color: #475B7C;
        margin-top: 20px;
    }

    .card {
        width: 238px;
        height: 166px;
        display: contents;

        &-row {
            display: flex;
            width: 100%;
            overflow: scroll;
        }

        &-slider {
            display: flex;
            width: 100%;
            gap: 24px;
            margin-top: 13px;
        }
    }
}

footer.footer-homepage {
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 77px;
    background: white;
    filter: drop-shadow(0px 0px 10px rgba(23, 43, 77, 0.07));
    border-radius: 20px 20px 0px 0px;

    .links-container {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .footer-link {
            display: inline-flex;
            flex-direction: column;
            text-align: center;
            color: #2D3D55;
            font-size: 14px;
            position: relative;
            min-width: 52px;
            opacity: 0.5;
            &.active {
                opacity: 1;
                ::before {
                    content: "";
                    background: #8BAFE3;
                    width: 52px;
                    height: 4px;
                    margin: 0 auto;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 100px;
                }
            }

            img {
                width: 28px;
                margin: 8px auto;
            }
        }
    }

}

