.list-quiz-action{
  align-items: center;
  & li {
    height: fit-content;
    a {
      position: relative;
      &.active {
        @apply text-light-blue;
        &::after {
          content: '';
          border-width: 2px;
          width:100%;
          position: absolute;
          left: 0;
          bottom: -1px;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          @apply border-light-blue;
        }
      }
      display: block;
      padding-bottom: 8px;
      padding-inline: 12px;
    }
  }
}

$card-color: #EDF6F7;

$bg-tags-colors: ("draft": #EBEFF5, "published": #EDF6F7, "to-validate": #FFF3DB, "refused": #F9ECEC);
$tags-text-colors: ("draft": #8696A9, "published": #336A75, "to-validate": #EBA800, "refused": #D45458);

@each $tag, $bg-color in $bg-tags-colors {
  $index: index(map-keys($tags-text-colors), $tag);
  $color: map-get($tags-text-colors, $tag);
  .tag-#{$tag} {
    display: block;
    background-color: $bg-color;
    color: $color;
    padding: 1px 12px;
    border-radius: 6px;
    font-size: 15px;
  }
}

.input-image-quiz{
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0;
  &:after{
    content: attr(data-parent);

  }
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

.card-quizz-add{
  /* min-width: 400px; */
  width: 352px;
  /* width: 100%; */
  height: 85px;
  border-width: 2px;
  border-style: dashed;
  border-color: #ACC8EE;
  background-color: #F1F6FC;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  &>.fa-circle-plus{
    color:#75A3E3;
    font-size: 30px;
  }
  transition: all .2s ease-in-out;
  &:hover{
    box-shadow: 3px 0px 22px 5px rgba(23, 43, 77, 0.07);
  }
}
.quizz-all{
  margin-top: 20px;
  gap: 18px;
  display: flex;

  .card-quizz{
    cursor: pointer;
    box-shadow: 3px 0px 22px 5px rgba(23, 43, 77, 0.07);
    border-radius: 15px;
    min-width: 400px;
    max-width: 420px;
    height: 209px;
    width: fit-content;
    padding: 12px;
    position: relative;
    overflow: hidden;
    transition: all .2s ease-in-out;
    &:hover{
      box-shadow: 3px 0px 22px 15px rgba(23, 43, 77, 0.07);
    }

    &::after{
      content: "";
      border-radius: 80px;
      top: -8px;
      left: -31px;
      z-index: -1;
      position: absolute;
      background-color: #EDF6F7;
      width: 151px;
      height: 258px;
      display: block;
      border-radius: 34% 122% 79% 83%/63% 100% 77% 88%;
    }
    .card-quizz-title{
      @apply font-mono;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      margin-left: 8px;
      color: #336A75;
    }
    .card-quizz-body{
      width: 100%;
      height: 145px;
      padding-top: 20px;
      display: flex;
      img{
        width: 130px;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
      }
      >div {
        flex:1;
        padding-left: 21px;
        > p {
          @apply font-mono;
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          color: #1F2F42;
        }
      }
    }
  }
}

.header-new-quiz{
  background-color: #458E9D;
  top: 0;
  padding: 20px 29px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  >a{
    flex: 1;
    color: white;
    &:hover{
      color: #6b7280;
    }
  }
  >h1{
    flex-grow: 1;
    text-align: center;
    color: white;
    font-size: 22px;
  }
  >div{
    flex-grow: 1;
  }

}

.section-form{
  background-color: white;
  padding: 12px 42px;
  border-radius: 12px;
  > form{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

}

// new quiz styles
.input-container-quiz-text{
    flex-direction: column;
    display: flex;
    label{
      color:#5D738D;
    }
    input, textarea, select{
      border-color: #E1E5EA;
      border-width: 1px;
      padding: 11px 12px;
      border-radius: 4px;
      outline: none;
      &:focus{
        box-shadow: 0px 0px 4px 0px #E1E5EA;
      }
      &::placeholder{
        color: #E1E5EA
      }
    }
    input[type=text]{

    }
    input.quiz[type=checkbox]{
      background-color: #D5E4F6;
      color: #466288;
      min-width: 129px;
      height: 30px;
      display: flex;
      justify-content: center;
      position: relative;
      &:checked{
        background-color: #75A3E3;
        background-image: none;
        color: white;
      }
      &:after{
        content: attr(data-value);
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
}
