{% extends 'front_base.html.twig' %}

{% block title %}TEAM!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for item in users %}
    <div class="category-card">
        <p>ID: {{item.id}}</p>
        <p>Name: {{item.email}} </p>
        <p>Role: {{item.roles[0]}} </p>
        <div class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
            <a href="{{ path('front_app_team_edit', {'id': item.id}) }}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
