{% extends 'front_base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
<section class="team flex min-h-full users-center justify-center py-12 px-4 sm:px-6 lg:px-4">
    <div class="w-full max-w-md space-y-8">
        <div>
            <h2 class="mt-6 text-4xl font-bold tracking-tight text-gray-900 text-left">
                Membres
            </h2>
            <a href="{{ path('front_app_team_add') }}" class="add-button text-white py-2 px-2 mt-2 flex w-fit">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path>
                </svg>
                <span class="pr-2">Ajouter un membre</span>
            </a>
        </div>

        <div class="filters">
            <span class="filter">
                Alphabétique
                <svg width="15" height="10" viewBox="0 0 15 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 6L4.11111 9L1 6" stroke="#717171"/>
                    <path d="M8 4L10.8889 1L14 4" stroke="#717171"/>
                    <path d="M4 1L4 9" stroke="#717171"/>
                    <path d="M11 9L11 1" stroke="#717171"/>
                </svg>
            </span>

            <span class="filter">
                Filtres
            </span>
        </div>

        {% for user in users %}
            <a href="{{ path('front_app_team_edit', {'id': user.id}) }}" class="card py-4 px-8">
                <p class="text-ellipsis break-words">{{user.firstname}}</p>
                <p class="text-ellipsis break-words">{{user.lastname}}</p>
                <p>
                    {% if user.roles[0] == 'ROLE_ADMIN' %}
                        Administrateur
                    {% elseif user.roles[0] == 'ROLE_MODERATOR' %}
                        Moderateur
                    {% else %}
                        Invité
                    {% endif %}
                </p>
            </a>
        {% endfor %}
    </div>
</section>
{% endblock %}
