<!DOCTYPE html>

<title>New Answer</title>

{% block body %}
    <h1>Create new Answer</h1>

    {{ include('front/answer/_form.html.twig') }}

    <a href="{{ path('front_app_answer_index') }}">back to list</a>
{% endblock %}
